@model Assignment2.Models.Prof

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prof</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfCampus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfCampus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfMajor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfMajor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProfID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
