@model Assignment2.Models.Campus

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Campus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampusName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampusLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampusLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampusCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampusCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfProfs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfProfs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CampusID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
